{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="todo-container">
    <h2>Todo App</h2>

    <!-- CREATE -->
    <form method="POST" action="{% url 'create_todo' %}">
        {% csrf_token %}
        <div class="input-group">
            <input type="text"
                   name="title"
                   placeholder="Add your new todo"
                   required>
            <button type="submit" class="add-btn">+</button>
        </div>
    </form>

    <!-- TASK LIST -->
    {% for todo in todos %}
    <div class="task {% if todo.done %}done-task{% endif %}">

        <!-- DISPLAY -->
        <div id="text-{{ todo.id }}" class="task-text">
            {% if todo.done %}
                ✅ <strong>Done</strong> -
            {% endif %}
            {{ todo.title }}
        </div>

        <!-- UPDATE -->
        <form method="POST"
              action="{% url 'update_todo' todo.id %}"
              id="edit-{{ todo.id }}"
              class="edit-form"
              style="display:none;">
            {% csrf_token %}
            <input type="text"
                   name="new_title"
                   value="{{ todo.title }}"
                   class="edit-input"
                   required>

            <button type="submit" class="btn btn-save">
                ✔
            </button>
        </form>

        <div class="btn-group">

            <button type="button"
                    onclick="enableEdit({{ todo.id }})"
                    class="btn btn-edit">
                ✏
            </button>

            <!-- DONE / UNDONE -->
            <form method="POST"
                  action="{% url 'toggle_done' todo.id %}">
                {% csrf_token %}
                <button type="submit" class="btn">
                    {% if todo.done %}
                        ↩
                    {% else %}
                        ✓
                    {% endif %}
                </button>
            </form>

            <!-- DELETE -->
            <form method="POST"
                  action="{% url 'delete_todo' todo.id %}">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-delete">
                    🗑
                </button>
            </form>

        </div>

    </div>
    {% empty %}
        <p>No tasks yet.</p>
    {% endfor %}

    <div class="footer">
        <span>You have {{ task_count }} tasks</span>
    </div>
</div>

<script>
function enableEdit(id) {
    document.getElementById("text-" + id).style.display = "none";
    document.getElementById("edit-" + id).style.display = "flex";
}
</script>

</body>
</html>